[submodule "nvim"]
	path = nvim
	url = git@github.com:/lcford2/nvim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:/lcford2/tmux.git
[submodule "qtile-openweathermap"]
    path = qtile/qtile-openweathermap
    url = https://github.com/sffjunkie/qtile-openweathermap.git
[submodule "rofi-power-menu"]
    path = rofi/rofi-power-menu
    url = https://github.com/jluttine/rofi-power-menu.git
