**/__pycache__/**/*

# vim stuff
vimrc/.vim/bundle/**/*
vimrc/.vim/.netrwhist
vimrc/.vim/undodir

# backup file
**/*.bkp
**/*.old

# kitty json files
kitty/*.json
kitty/**/*.json

# key files
qtile/settings/key.out
qtile/settings/owm_key.txt

# log files
**/*.log

# rofi config changes often, so only track the base
dotfiles/.config/rofi/config.rasi

# don't track the computer specific fish config
dotfiles/.config/fish/config.fish

# node modeuls
node_modules/**
node_modules
package*.json

# helix runtime
helix/runtime
